<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Story point</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>

    <ion-card *ngIf="tapToReveal" class="pokercard" style="height: 100%; width: 100%; background: black" (click)="onShowValue()">
        <div [style.color]="settings.cardValueBackground" style="font-size: 4.0em; font-weight: bold;width: 100%;height:100%; top: 40%;position: absolute;">Tap to reveal</div>
    </ion-card>

    <ion-card *ngIf="!tapToReveal" class="pokercard" [style.background]="settings.cardBackground" style="height: 100%; width: 100%" (click)="onValueClick()">
        <div [style.color]="settings.cardValueBackground" style="font-size: 10.0em; font-weight: bold;width: 100%;height:100%; top: 40%;position: absolute;">{{pokercard.value}}</div>
    </ion-card>
</ion-content>